*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/res/drawable/avatar0.jpg
/app/src/main/res/drawable/avatar15.jpg
/app/src/main/res/drawable/avatar23.jpg
/app/src/main/res/drawable/avatar24.jpg
/app/src/main/res/drawable/avatar25.jpg
/app/src/main/res/drawable/avatar26.jpg
/app/src/main/res/drawable/avatar27.jpg
/app/src/main/res/drawable/avatar28.jpg
/app/src/main/res/drawable/avatar29.jpg
/app/src/main/res/drawable/avatar30.jpg
/app/src/main/res/drawable/avatar31.jpg
/app/src/main/res/drawable/avatar32.jpg
/app/src/main/res/drawable/avatar33.jpg
/app/src/main/res/drawable/avatar34.jpg
/app/src/main/res/drawable/avatar35.jpg
/app/src/main/res/drawable/avatar36.jpg
/app/src/main/res/drawable/avatar37.jpg
/app/src/main/res/drawable/avatar38.jpg
/app/src/main/res/drawable/avatar39.jpg
/app/src/main/res/drawable/avatar40.jpg
/app/src/main/res/drawable/avatar41.jpg
/app/src/main/res/drawable/avatar42.jpg
/app/src/main/res/drawable/avatar43.jpg
/app/src/main/res/drawable/avatar50.jpg
/app/src/main/res/drawable/avatar51.jpg
/app/src/main/res/drawable/avatar52.jpg
/app/src/main/res/drawable/avatar54.jpg